
@font-face {
	@include font-include('DMSans', 400, swap, normal, 'DMSans-Regular');
}

@font-face {
	@include font-include('DMSans', 300, swap, italic, 'DMSans-Italic');
}

@font-face {
	@include font-include('Neue Machina', 400, swap, normal, 'NeueMachina-Regular');
}

@font-face {
	@include font-include('Neue Machina', 700, swap, normal, 'NeueMachina-Bold');
}

.large-title {
	font-family: var(--title-font);
	font-weight: 400;
	line-height: 110%;
	text-transform: uppercase;

	font-size: 14.933333vw;
	@include _650 {
		font-size: 8.2vw;
		letter-spacing: 0.1vw;
	}

	svg {
		width: 11.2vw; height: auto;
		margin-right: 1.333333vw;
		@include _650 {
			margin-right: 0;
			width: 6.25vw;
		}
	}
}

.text {
	&._to-min {
		font-size: 3.733333vw;
	}
	font-size: 4.266667vw;
	/* @include _650 {
		font-size: 2.461538vw;
		&._to-min {
			font-size: 2.461538vw;
		}
	} */
	@include _650 {
		font-size: 1.111111vw;
		&._to-min {
			font-size: 1.111111vw;
		}
	}
	line-height: 150%;
	&._min {
		font-size: 3.733333vw;
		
		@include _650 {
			font-size: 0.972222vw;
		}
	}
}

.split-text {
	font-kerning: none;
}

.title {
	
	font-family: var(--title-font);
	font-weight: 400;
	line-height: 114%;
	letter-spacing: -0.075rem;
	text-transform: uppercase;

	font-size: 11.2vw;

	@include _650 {
		font-size: 6.250vw;
		letter-spacing: -0.15vw;
	}

}

.main {
	counter-reset: sectionNumber;
}

section:not(:first-child) {
	counter-increment: sectionNumber;
}

section:nth-child(-n + 10) .section-name::before {
	content: "(0"counter(sectionNumber)")";
}

.section-name {

	font-weight: 400;
	font-size: 3.2vw;
	@include _650 {
		font-size: 0.972vw;
	}
	font-style: italic;
	line-height: 152.2%;

	text-transform: uppercase;
	
	&::before {
		
		content: "("counter(sectionNumber)")";
	
		margin-right: 4vw;
		@include _650 {
			margin-right: 22px;
		}
	}
	

}

.txt-center {
	text-align: center;
}
