.header {
	position: absolute;
	left: 0; top: 0;
	width: 100%;

	//padding-right: var(--popup-padding) !important;

	//transform: translate(0, var(--pos));

	//transition: transform .2s ease;

	z-index: 5;

	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;

	padding-top: 8vw;
	@include _650 {
		padding-top: 3.055556vw;
	}

	// .header__logo

	&__logo {

		flex: 1 1 auto;

		&--logo {
			display: inline-block;
		}

		// .header__logo--img
		
		&--img {
			max-width: 100%;
			width: 32.533333vw; height: auto;
			@include _650 {
				width: 10.138889vw;
			}
		}
	}

	// .header__nav

	&__nav {
		position: absolute;
		right: var(--container-padding); top: 8vw;
		width: calc(100% - (var(--container-padding) * 2)); max-height: calc(var(--svh, 1vh) * 100);
		
		@include _650 {
			max-width: 24.722222vw;
			width: 100%;

			right: var(--desktop-container-padding); top: 9.333333vw;

			border-radius: 13.888889vw;
		}

		background: var(--white);

		overflow-y: auto; overflow-x: hidden;

		opacity: 0; visibility: hidden;
		border-radius: 150px;
		transform-origin: right top;
		transform: scale(0.1) translate(20%,-20%);

		z-index: 2;

		&._mob-menu-active {
			opacity: 1; visibility: visible;
			border-radius: 3.466667vw;
			@include _650 {
				border-radius: 0.902778vw;
			}
			transform: scale(1);
		}

		transition: opacity .3s ease-in-out, visibility .3s ease-in-out, border-radius .4s ease-in-out, transform .4s ease-in-out;

		display: flex;

		&--row {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 6.666667vw;

			@include _650 {
				padding: 1.736111vw;
			}
			width: 100%;
		}

		&--name {

			font-size: 4.266667vw;

			@include _650 {
				font-size: 1vw;
			}
			line-height: 152.2%;
			text-transform: uppercase;
			color: var(--black);

			opacity: 0.5;
		}

		&--close {
			position: relative;
			background: transparent;
			svg {
				height: auto;
				width: 4vw;
				@include _650 {
					width: 1vw;
				}
			}
			&::before {
				content: '';
				position: absolute;
				left: 50%; top: 50%;
				width: 300%; height: 300%;
				transform: translate(-50%,-50%);
			}
		}

		// .header__nav--body

		&--body {
			width: 100%;	
		}

		// .header__nav--list

		&--list {
			flex: 1 1 auto;

			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			padding-bottom: 5.333333vw;
			@include _650 {
				padding-bottom: 1.736111vw;
			}
			//height: 100%;

		}

		&--list li {
			width: 100%;
		}

		&--list li:first-child a {
			padding-top: 0;
		}

		&--list li a {
			display: block;
			padding: 0.933333vw 6.666667vw;

			width: 100%;
			color: var(--black);

			font-size: 6.4vw;
			line-height: 152.2%;
			text-transform: capitalize;
			@include _650 {
				font-size: 1.666667vw;
				padding: 3.5px 1.736111vw;
			}

			transition: color .2s ease;
			&:hover {
				color: var(--accent);
				//transform: translate3d(20px,0,0);
			}
			
			&:active {
				color: var(--accent-active);
				//transform: translate3d(15px,0,0);
			}
		}
	}

	&__btn {
		margin-right: 1.527778vw;

		display: none;
		@include _650 {
			display: inline-block;
			
		}
	}

	// .header__burger

	&__burger {
		position: relative;
	
		width: 7.466667vw; height: 9.066667vw;
		@include _650 {
			width: 3.194444vw; height: 3.194444vw;
			background: var(--white);
			border-radius: 50%;
		}
	
		background: transparent;
	
		cursor: pointer;
		

		/* transition: background .3s ease;
		&:hover {
			background: rgba(255,255,255,0.8);
		}
		
		&:active {
			background: rgba(255,255,255,0.7);
		} */
	
		display: block;
	
		& span {
			position: absolute;
			left: 50%; top: 50%;
	
			width: 100%; height: 1px;
			@include _650 {
				width: 45%;
				background: var(--black);
			}
			background: var(--white);
			
			transition-duration: .3s;
			transition-timing-function: ease;
			transition-property: transform, top, opacity, visibility;
			&:nth-child(1) {
				transform: translate3d(-50%,-1.866667vw,0);
			}

			&:nth-child(2) {
				transform: translate3d(-50%, 1.866667vw, 0);
			}
	
			@include _650 {
				&:nth-child(1) {
					transform: translate3d(-50%,-0.25vw,0);
				}
	
				&:nth-child(2) {
					transform: translate3d(-50%, 0.25vw, 0);
				}
			}

			&:nth-child(3) {
				
			}
		}

		/* &._mob-menu-active span {
			&:nth-child(1) {
				transform: translate3d(-50%, -50%, 0) rotate(45deg);
			}

			&:nth-child(2) {
				transform: translate3d(-50%, -50%, 0) rotate(-45deg);
			}
	
		} */
	}
}
