.blog {

	display: block;

	@include _1000 {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: 0 20px;
	}

	position: static;

	// .blog__section-name

	&__section-name {
		grid-column: 3 span;
	}

	// .blog__title

	&__title {
		margin-top: 43px;
		@include _650 {
			margin-top: 6.615385vw;
		}
		@include _1000 {
			margin-top: -0.3ch;
		}
		grid-column: 9 span;
	}

	&__wrapper {
		grid-column: 12 span;
		position: relative;
		cursor: none;
	}

	// .blog__list

	&__list {
		margin-top: 39px;
		
		display: grid;
		gap: 23px 0;
		@include _650 {
			gap: 4.181818vw;
			margin-top: 5.538462vw;
		}

		@include _1000 {
			gap: 1.875vw;
			margin-top: 5.138889vw;
		}
	}

	&__list:hover &__item {
		@include _1000 {
			@media (any-hover: hover) {
				padding: 0 1.388889vw;
				&:hover {
					padding: 0;
				}
				&--link {
					opacity: 0.54;
					&:hover {
						opacity: 1;
					}
				}
			}
		}
	}

	// .blog__item

	&__item {
		display: block;

		@include _1000 {
			
			padding: 0;
			transition: padding .3s ease;
			cursor: none;
			&:hover {
				padding: 0;
			}
		}

		&--link {
			
			background: rgba(255, 255, 255, 0.04);
			
			border-radius: 1.061632vw;

			padding: 31px 26px 29px;

			@include _650 {
				padding: 4.615385vw 4vw;
			}

			display: block;
			@include _1000 {
				display: grid;
				grid-template-columns: 55% 36vw;

				cursor: none;
				//opacity: 0.54;

				padding: 3.8vw 2.777778vw;
			}

			color: var(--white);

			transition: opacity .3s ease;
		}
	}

	// .blog__info

	&__info {
		display: flex;
		align-items: center;
	}

	// .blog__category
 
	&__category {
		display: inline-block;
		border: 1px solid rgba(255, 255, 255, 0.2);
		padding: 7px 13px;
		line-height: 135.29%;
		border-radius: 1000px;
		font-size: 0.75rem;

		margin-right: 18px;

		@include _650 {
			border: 0.066352vw solid rgba(255, 255, 255, 0.2);
			font-size: 1.846154vw;
			padding: 1.230769vw 2vw;
			margin-right: 2.769231vw;
		}

		@include _1000 {
			font-size: 0.833333vw;
			border-radius: 2.05691vw;
			padding: 0.48vw 0.902778vw;
			margin-right: 1.944444vw;
		}

		
		text-transform: uppercase;

		
	}

	// .blog__duration

	&__duration {
		font-size: 0.875rem;
		
		@include _650 {
			font-size: 2.153846vw;
			padding: 1.454545vw 2.363636vw;
		}
		
		@include _1000 {
			font-size: 0.928931vw;
			padding: 0;
		}
		line-height: 135.29%;
		text-transform: uppercase;

	}

	// .blog__min-title

	&__min-title {
		margin-top: 15px;
		font-size: 2rem;
		
		@include _650 {
			margin-top: 2.769231vw;
			font-size: 4.923077vw;
		}

		@include _1000 {
			margin-top: 2.361111vw;
			font-size: 3.055556vw;
		}

		font-family: var(--title-font);
		font-weight: 400;
		line-height: 97.619048%;
	}

	// .blog__content

	&__content {
		align-self: center;
		grid-column: 2; grid-row: 1/5;
		margin-top: 28px;
		@include _650 {
			margin-top: 4.923077vw;
		}
		@include _1000 {
			margin-top: 0;
		}
	}

	// .blog__footer

	&__footer {
		margin-top: 25px;
		@include _650 {
			margin-top: 4vw;
		}
		@include _1000 {
			margin-top: 2.361111vw;
		}

		display: flex;
	}

	// .blog__date

	&__date {
		margin-right: 18px;

		@include _650 {
			margin-right: 2.769231vw;
		}

		@include _1000 {
			margin-right: 1.875vw;
		}
	}

	// .blog__author

	&__author {
		line-height: 135.29%;
	}

	&__cursor {
		width: 11.111111vw; height: 3.819444vw;
		border-radius: 0.902778vw;
		position: fixed;
		left: 0%; top: 0%;
		pointer-events: none; user-select: none;

		transition: width .3s ease, height .3s ease, opacity .5s ease, visibility .5s ease;
		opacity: 0; visibility: hidden;

		&._hover {
			@include _1000 {
				width: 16.597222vw; height: 12.430556vw; 
				opacity: 1; visibility: visible;
			}
		}

		&[data-index="0"] &--item:nth-child(1) {
			opacity: 1;
		}

		&[data-index="1"] &--item:nth-child(2) {
			opacity: 1;
		}

		&[data-index="2"] &--item:nth-child(3) {
			opacity: 1;
		}

		&--item {
			position: absolute;
			left: 50%; top: 50%;
			width: 100%; height: 100%;
			transform: translate(-100%,-100%) rotate(7deg);
			overflow: hidden;
			border-radius: 0.902778vw;
			opacity: 0;
			transition: opacity .15s ease;
			background: #ccc 0 0 / cover no-repeat;
			img {
				position: absolute;
				left: 50%; top: 50%;
				transform: translate(-50%,-50%);
				width: 16.597222vw; height: 12.430556vw;
				object-fit: cover;
				
			}
		}

		.min-marquee {
			position: absolute;
			left: 0%; top: 0%;
			transform: translate(-50%,-50%) rotate(7deg);
		}
	}
}
