.feedback {

	@include _650 {
		display: grid;
		grid-template-columns: minmax(137px, 15%) auto;
	}

	// .feedback__col

	&__col {
	}

	// .feedback__icon

	&__icon {
		width: 28.533333vw; height: 19.733333vw;
		
		@include _650 {
			width: 7.430556vw; height: 5.138889vw;
		}

		background: rgba(255, 255, 255, 0.04);
		border-radius: 100px;

		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;

		img {
			width: 30%; height: auto;
		}
	}

	// .feedback__title

	&__title {
		margin-top: 11.466667vw;
		line-height: 100%;

		@include _650 {
			margin-top: -0.25ch;
		}
	}

	// .feedback__footer

	&__footer {

		margin-top: 16vw;
		margin-bottom: 2.666667vw;
		
		@include _650 {
			margin-top: 5.069444vw;
		}
	}

	// .feedback__link

	&__link {
	}
}
