.marquee {

	&:is(footer) {
		overflow: hidden;
	}

	// .marquee__title

	&__title {
	}

	// .marquee__container

	&__container {
		white-space: nowrap;
		//padding-top: 6vw;/* margin-top: 15vw; */
	}

	// .marquee__item

	&__item {

		@include _1000 {
			
			height: 7.917vw;
			&:nth-child(1) {
				transform: translate3d(0,20%,0) rotate(-3deg);
			}
	
			&:nth-child(2) {
				transform: translate3d(0,-25%,0) rotate(4deg);
			}

			&._none-rotate {
				transform: none;
			}
		}
		height: 14vw; width: 105vw;
		margin-left: -2.5vw;
		position: relative;
		background: var(--accent);

		&:nth-child(1) {
			transform: translate3d(0,0%,0) rotate(-4deg);
		}

		&:nth-child(2) {
			transform: translate3d(0,-0%,0) rotate(3deg);
		}

		&._none-rotate {
			transform: none;
		}

		// .marquee__item--element

		&--element {
			position: absolute;
			top: 50%;
			transform: translate3d(var(--x),-50%,0.0001px);
			font-size: 6.933vw;
			@include _1000 {
				font-size: 3.958vw;
			}
			line-height: 93.61%;
			letter-spacing: -0.02em;
			text-transform: uppercase;
			font-family: var(--title-font);
			font-weight: 400;

			display: flex;
			align-items: center;

			color: var(--black);
			svg {
				margin: 0 2vw;
				fill: var(--black);
				width: 5.333vw; height: 8vw;
				@include _1000 {
					width: 4.028vw; height: 2.708vw;
				}
			}
		}
	}
}
