.process {

	padding-top: 14.133333vw; padding-bottom: 14.133333vw;
	min-height: 787px;

	@include _650 {
		padding-top: 6.597222vw; padding-bottom: 6.597222vw;
		min-height: min(73.472222vw, 1058px);
	}
	

	display: grid;

	// .process__bg-slider

	&__bg-slider {

		position: absolute;
		left: 0; top: 0;
		width: 100%; height: 100%;
		z-index: -1;

		user-select: none; pointer-events: none;
		overflow: hidden;

		&--canvas {
			position: absolute;
			left: 0; top: 0;
			width: 100%; height: 100%;
			background: #ccc;
			z-index: -1;
		}

		/* .splide__track--fade>.splide__list>.splide__slide {
			opacity: 1;
			z-index: auto;
			&.is-active.is-visible {
				z-index: 1;
			}
		} */

		&::after {
			content: '';
			position: absolute;
			left: 0; top: 0;
			width: 100%; height: 150%;
			background: var(--black);
			opacity: 0.6;
		}

		// .process__bg-slider--track

		/* &--track {
			height: 100%;
		}

		// .process__bg-slider--list

		&--list {
			height: 100%;
		}

		// .process__bg-slider--slide

		&--slide {
			position: relative;
			width: 100%; height: 100%;
			img {
				position: absolute;
				left: 0; top: 0;
				width: 100%; height: 100%;
				object-fit: cover;
			}
		} */
	}

	// .process__bg-slide

	&__bg-slide {

		//clip-path: url(#real);
		&.is-visible.is-active {
			//clip-path: url(#real);
			z-index: 1;
		}

		opacity: 1;
		z-index: auto;

		// .process__bg-slide--image

		&--image {
		}
	}

	// .process__block

	&__block {
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	// .process__section-name

	&__section-name {
	}

	// .process__slider

	&__slider {

		margin-top: 10.933333vw;

		@include _650 {
			margin-top: 3.819444vw;
		}
		flex: 1 1 auto;

		display: flex;
		flex-direction: column;

		/* &._moving &--arrows {
			pointer-events: none;
		} */

		// .process__slider--track

		&--track {
			flex: 1 1 auto;
		}

		// .process__slider--list

		&--list {
		}

		// .process__slider--slide

		&--slide {
		}

		// .process__slider--arrows

		&--arrows {

			display: flex;
			justify-content: space-between;

			z-index: 2;

			width: calc(100vw - (var(--container-padding) * 2));
			margin-top: 10vw;
			
			@include _650 {
				display: grid;
				grid-template-columns: 1fr 1fr;
				gap: 2.083333vw;
				width: 9.861111vw;
				margin-top: -3.888889vw;
			}

		}

		// .process__slider--arrow

		&--arrow {
			position: static;
			width: 14.933333vw; height: 14.933333vw;
			
			@include _650 {
				width: 3.888889vw; height: 3.888889vw;
			}

			border-radius: 50%;
			background: var(--white);
			opacity: 1;
			transition: opacity .3s ease;
			transform: none;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			svg {
				width: 50%; height: auto;
				pointer-events: none;
			}
			&._next svg {
				transform: none;
			}
		}
	}

	// .process__slide

	&__slide {

		display: flex;
		flex-direction: column;
		justify-content: space-between;

		max-width: calc(100vw - (var(--container-padding) * 2));
		&:nth-child(2) &--title-wrapper .min-marquee {
			transform: translate(20%,175%) rotate(8deg);
			@include _650 {
				transform: translate(-185%,-90%) rotate(8deg);
			}
		}

		&:nth-child(3) &--title-wrapper .min-marquee {
			transform: translate(20%,175%) rotate(8deg);
			@include _650 {
				transform: translate(-185%,-90%) rotate(8deg);
			}
		}

		// .process__slide--title

		&--title {
			&-wrapper {
				position: relative;
				.min-marquee {
					position: absolute;
					right: 0; top: 0;
					transform: translate(40%,55%) rotate(8deg);
					@include _650 {
						left: 50%; top: 50%;
						transform: translate(-185%,-90%) rotate(8deg);
					}
					opacity: 0;
				}
			}
			.line:nth-child(2) .line-body {
				padding-left: 20%;
			}

			@include _650 {
				.line:nth-child(2) .line-body {
					padding-left: 0%;
				}
				.line .line-body {
					transform: translate3d(0,120%,0);
				}
				letter-spacing: -0.1vw;
				.line:not(:first-child) .line-body {
					padding-left: 1.7ch;
				}
			}
		}

		// .process__slide--content

		&--content {
			margin-top: 9.6vw;
			
			flex: 1 1 auto;
			
			> * {
				align-self: self-start;
				&:not(:first-child) {
					margin-top: 2.545455vw;
				}
			}
			
			@include _650 {
				flex: 0 1 auto;
				display: grid;
				grid-template-columns: repeat(12,1fr);
				> * {
					&:not(:first-child) {
						margin-top: 0.972222vw;
					}
				}
				padding-left: 8%;
			}
		}

		// .process__slide--content-block

		&--content-block {
			line-height: 140%;
			/* &:not(:first-child) {
				display: none;
				@include _650 {
					display: block;
				}
			} */
			@include _650 {
				grid-column: 7/13;
				padding-right: 8%;
				.line .line-body {
					transform: translate3d(0,120%,0);
				}
				line-height: 135%;
			}

			/* .line .line-body {
				transform: translate3d(0,120%,0);
			} */
			
		}
	}
}
